<<%- include('../partials/header') %>

<ul>
  <% devskills.forEach(function(t) { %>
    <li>
      <a href="/devskills/<%= t.id %>"><%= t.devskill %></a>
      
      <%= t.done ? "" : "" %>
    </li>  
  <% }) %>
</ul>
<a href="/devskills/new">Add Devskills</a>
<%- include('../partials/footer') %>